{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main_container">
        <div class="main_item">
            <h3>{% block form_name %}Восстановление пароля{% endblock %}</h3>
            {% if validlink %}
                <p>Пожалуйства, введите новый пароль и затем повторите снова</p>
                <form id="form" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p><button type="submit">Изменить пароль</button></p>
                </form>
            {% else %}
                <p>Ссылка для восстановления пароля перестала быть актуальной,
                возможно она уже была использована</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
