{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="course_container">
        <div class="course_preview" style="transform: none; box-shadow: none; border: none">
            <p><a style="color: red" href="{% url 'delete' course.pk %}">Удалить</a></p>
            <p><a style="color:blue" href="{% url 'update' course.pk %}">Редактировать</a></p>
            <p>{{ course.title }}</p>
            <p>Автор: {{ course.author.last_name }} {{ course.author.first_name }}</p>
            <p>Старт: {{ course.start_date }}</p>
            <p>Продолжительность: {{ course.duration }} месяцев/-a</p>
            <p>Количество уроков: {{ course.count_lesson }}</p>
            <p>{{ course.description }}</p>
            <p><span class="price">{{ course.price }}</span></p>
        </div>
        <div class="preview" style="margin-top: 1%; transform: none; box-shadow: none; border: none">
            <div style="font-weight: bold">Список уроков</div>
            {% for lesson in lessons %}
                <p style="font-weight:bold">{{forloop.counter}}. {{ lesson.name }}</p>
                <p>{{ lesson.preview }}</p>
            {% empty %}
                <p>Уроки пока не добавлены.</p>
            {% endfor %}
            <form method="post" action="{% url 'enroll' course.pk %}">
                {% csrf_token %}
                <input type="submit" value="Записаться">
            </form>
        </div>

        <p style="font-weight: bold, margin-left: 5.5%">
            Отзывы
            <span style="font-weight: initial; font-size: 0.85em">{{ reviews.count }}</span>
            <a href="{% url 'review' course.pk %}">Оставить отзыв</a>
        </p>

        <div class="reviews_container">
            {% for review in reviews %}
            <div class="review">
                {% if review.user.avatar %}
                    <img src="{{ review.user.avatar.url }}" width="100"  height="111">
                {% else %}
                    <img src="{% static 'user.jpg' %}" width="100"  height="111">
                {% endif %}
                <p>{{ review.user.last_name }} {{ review.user.first_name }}</p>
                <p>{{ review.content }}</p>
            </div>
            {% empty %}
                <p>Отзывов пока нет. Ваша <a href="{% url 'review' course.pk %}">оценка</a> важна</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

