{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="courses_container">
        {% now 'SHORT_DATETIME_FORMAT' %}
        {% for course in courses %}
            <div class="course_preview">
                <p><a href="{% url 'detail' course.pk %}">{{ course.title|title }}</a></p>
                <p>{{ course.start_date|date:"j E" }}</p>
                <p>{{ course.description|capfirst }}</p>
                <p><span class="price">{{ course.price|default:"Бесплатно" }} P.</span></p>
                <p>{{ course.author }}</p>
                <p>{{ course.duration}} </p>
            </div>
        {% empty %}
            <p>На данный момент не найдено ни одного курса. Проверьте страницу позже.</p>
        {% endfor %}
    </div>
{% endblock %}